.label-home {
  padding: 0.5em;
}
.input-home {
  margin-top: 1em;
  margin-left: 7px;
  margin-right: 7px;
  padding: 1em;
  min-width: 300px;
  background-color: #f7f7fb;
  color: #111;
  border: 1px solid #d0d4da;
  border-radius: 6px;
  box-sizing: border-box;
}
.input-home,
.label-home {
  display: block;
  margin-bottom: 11px;
}

.input-home:focus {
  outline: none;
  border-color: #7aa7ff;
  box-shadow: 0 0 0 3px rgba(122,167,255,0.12);
}
